SHELFCASH_BACKEND_URL=https://either-colours-thru-love.trycloudflare.com
SHELFCASH_API_KEY=4nqY-xO7hGxLO9W_e06ZNyiJMxNKQknu
USE_MOCK_API=false
NEXT_PUBLIC_USE_MOCK_API=false
VITE_USE_MOCK_API=false
NEXT_PUBLIC_ENABLE_DECISION_MOCK_DIAGNOSTICS=false
# Opportunity Recommendation & Real OpenStreetMap
VITE_SHELFCASH_OPPORTUNITY_MODE=preview
VITE_SHELFCASH_MAP_PROVIDER=osm
NEXT_PUBLIC_SHELFCASH_OPPORTUNITY_MODE=preview
NEXT_PUBLIC_SHELFCASH_MAP_PROVIDER=osm
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=